<!DOCTYPE html>
<!-- Thymeleaf 선언 / FooterFragment 임을 선언-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<!--<head>-->
<!--    <title></title>-->
<!--    <style>-->
<!--        .page-link {-->
<!--            margin-right: 10px; /* 원하는 여백 크기로 조정 */-->
<!--        }-->
<!--        .current-page {-->
<!--            color: deepskyblue;-->
<!--            font-weight: bold;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->

<div th:fragment="FooterFragment">
    <footer th:if="${pageNums}" class="container py-4">
        <div class="row">
            <div class="col">
                <!-- 페이징 숫자 -->
                <div style="display: flex; justify-content: center;">
                    <div th:each="p : ${pageNums}">
                        <a th:if="${p == currentPage}" th:href="${currentUri} + '&page=' + ${p}" th:text="${p}" class="page-link" th:classappend="current-page"></a>
                        <a th:unless="${p == currentPage}" th:href="${currentUri} + '&page=' + ${p}" th:text="${p}" class="page-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</html>
