<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="HeaderFragment">

    <nav class="navbar navbar-expand-lg" style="background-color: #f3f3f3 ">
        <a class="navbar-brand btn btn-link text-secondary" href="/home">홈 화면</a>
        <div class="ml-auto">
            <!-- 알림 아이콘 -->
            <div class="notification-icon" style="float: left; position: relative; top: 15px; opacity: 0.7; display: inline-block" sec:authorize="isAuthenticated()">
                <a href="/notifications" style="text-decoration: none; color: inherit;">
                    <span class="icon-bell" style="font-size: 20px">🔔</span>
                    <!-- 빨간색 동그라미: 알림 여부에 따라 표시 -->
                    <span th:if="${session.notification}"
                          style="position: absolute; top: 0px; right: 0px; background: red; color: white;
                                 border-radius: 50%; width: 12px; height: 12px; font-size: 10px; text-align: center; line-height: 12px;">
                        !
                    </span>
                </a>
            </div>

            <form style="float: left; padding:10px;" sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0" th:action="@{/mypage}" method="get">
                <button class="btn btn-link text-secondary mx-1" type="submit">마이 페이지</button>
            </form>
            <form style="float: left; padding:10px;" sec:authorize="hasAuthority('ADMIN')" class="form-inline my-2 my-lg-0" th:action="@{/admin}" method="get">
                <button class="btn btn-link text-secondary my-2 my-sm-0" type="submit">관리자 페이지</button>
            </form>
            <form style="float: left; padding:10px;" sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                <button class="btn btn-link text-danger" type="submit">로그아웃</button>
            </form>
            <form style="float: left; padding:10px;" sec:authorize="!isAuthenticated()" class="form-inline my-2 my-lg-0" th:action="@{/login}" method="get">
                <button class="btn btn-link text-secondary my-1" type="submit">로그인</button>
            </form>
        </div>
    </nav>
</div>
</html>
