<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}"
      layout:fragment="Content"
>
<head>
    <title th:text="${title}"></title>
</head>
<body>

<h1 th:text="${assignment.title}"></h1>

<p th:text="${assignment.body}"></p>

<h1> 토론방 </h1>
<a th:href="'/post/list?lectureId=' + ${assignment.lectureId}">더보기</a>

<p th:each="post : ${postList}">
    <a th:href="'/post/' + ${post.id}" th:text="${post.title}"></a>
</p>

</body>
</html>