<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}"
      layout:fragment="Content"
>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />

    <style>
        .container {
            display: flex;
        }
        .left-section, .right-section {
            flex: 1;
            padding: 10px;
        }
        .left-section {
            background-color: #f0f0f0;
        }
        .right-section {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>

<h1> 과제 및 토론 </h1>
<div class="container">

    <div class="left-section">

    <h2> 문제해결기법 </h2>
        <ul>
            <li> 과제 1.</li>
        </ul>

    <h2> 오토마타 </h2>
        <ul>
            <li> 과제 1.</li>
        </ul>

    <h2> 알고리즘설계 </h2>
        <ul>
            <li> 과제 1.</li>
        </ul>

    </div>

    <div class="right-section">
    <h2> 토론방 </h2>
        <ul>
            <li> 과제 1. 풀이비법 </li>
        </ul>

    </div>

</div>

</body>
</html>
